<aside style="float: right">
    <h2 class="dark">Upload New Track</h2>
    <div class="body">
        Here The Form.
    </div>
</aside>

<h2 class="dark">Lastest Tracks</h2>
<div class="body">
    Here The Lastest Tracks.
</div>